.mc-display,.mc-date--picked {
    background-color: #4B49AC!important;
}
.mc-table__weekday,.mc-btn--success{
    color: #4B49AC!important;
}
.mc-date--today{
    background-color: #a6a4f1!important;
}
.basic-anchor{
    text-decoration: none;
    padding: 10px 10px;
    background-color: #4B49AC;
    color: white;
    border-radius: 5px;
}
.basic-anchor:hover{
    text-decoration: none;
    color: white;
}
.btn, .btn-primary, .btn-sm{
    border-radius: 5px!important;
}
.sidebar .nav .nav-item{
    border-radius: 5px!important;
}
.sidebar .nav .nav-item :hover{
    border-radius: 5px!important;
}
.card{
    border-radius: 5px!important;
}
.filter{
    width: 50%;
}
.select-doctor{
    width: 40%;
}
.select-date{
    width: 40%;
}

input[type=file]{
    display: none!important;
}
.image-input{
    height: 76%;
    width: 100%;
    position: relative;
    border: 1px solid #CED4DA;
    border-radius: 4px;
}
.upload-image{
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 400;
    font-size: 0.875rem;
    padding:11px;
    margin: 0;
    cursor: pointer;
    color: #fff;
    background-color: #4B49AC;
    border-radius: 4px;
}
