.mc-display,.mc-date--picked {
    background-color: #4B49AC!important;
}
.mc-table__weekday,.mc-btn--success{
    color: #4B49AC!important;
}
.mc-date--today{
    background-color: #a6a4f1!important;
}
.basic-anchor{
    text-decoration: none;
}
.btn, .btn-primary, .btn-sm{
    border-radius: 5px!important;
}
.sidebar .nav .nav-item{
    border-radius: 5px!important;
}
.sidebar .nav .nav-item :hover{
    border-radius: 5px!important;
}
.card{
    border-radius: 5px!important;
}
.filter{
    width: 50%;
}
.select-doctor{
    width: 40%;
}
.select-date{
    width: 40%;
}
