<%- include('../layouts/header'); %>
<div class="card">
  <div class="card-body">
    <h4 class="text-center mb-0" id="mgs"></h4>
  </div>
</div>

<%- include('../layouts/footer'); %>
<script src="../../public/additional/js/mc-calendar.min.js"></script>
<script>
  const myDatePicker = MCDatepicker.create({
      dateFormat: 'MMM-DD-YYYY',
      customOkBTN: 'Cheack Schedule',
      disableDates: [new Date(2022,9,10), new Date(2022,9,11)]
    });
    myDatePicker.open()
    myDatePicker.onSelect((date, formatedDate) =>{
      myDatePicker.open()
      let url = window.location.origin+'/doctor/schedule-check/631a2b2c4ccf6befeb416067';
      let data = {date: date};
      fetch(url, {
        method: "POST",
        headers: {'Content-Type': 'application/json'}, 
        body: JSON.stringify(data)
      }).then(res => {
        // console.log("Request complete! response:", res);
        const showMgs = document.getElementById('mgs');
        showMgs.innerHTML = ""
        showMgs.innerHTML = res.status;
        if(res.status===200){
          window.location.href = `/admin/appointment-form/631a2b2c4ccf6befeb416067?date=${date.toLocaleDateString()}`;
        }
      });
    })
</script>