<%- include('../layouts/header'); %>
<div class="card">
  <div class="card-body">
    <h4 class="text-center mb-0" id="mgs"></h4>
  </div>
</div>

<%- include('../layouts/footer'); %>
<script src="../../public/additional/js/mc-calendar.min.js"></script>
<script>
  let url = window.location.href;
  let id = url.split('/')[url.split('/').length-1];
  const myDatePicker = MCDatepicker.create({
      dateFormat: 'MMM-DD-YYYY',
      customOkBTN: 'Cheack Schedule',
    });
    // console.log(myDatePicker);
    myDatePicker.open()
    myDatePicker.onSelect((date, formatedDate) =>{
      myDatePicker.open()
      let url = window.location.origin+'/doctor/schedule-check/'+id;
      let data = {date: date};
      // console.log(data);
      fetch(url, {
        method: "POST",
        headers: {'Content-Type': 'application/json'}, 
        body: JSON.stringify(data)
      }).then(response=>response.json())
      .then(res => {
        const showMgs = document.getElementById('mgs');
        showMgs.innerHTML = ""
        showMgs.innerHTML = res.mgs;
        if(res.permission==true){
          window.location.href = `/admin/appointment-form/${id}?date=${date.toLocaleDateString()}`;
        }
      });
    })
</script>